* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
    background-color: antiquewhite;
    margin: 0;
    scroll-behavior: none;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructionDiv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}